.btn-quiz, .btn-start {
    height: calc(65px + 15 * (100vw - 768px) / 1440);
    border: 1px solid #fff;
    border-radius: 100px;
  }

  .btn-quiz {
    max-width: 300px;
    width: 100%;
    transition: 0.3s ease;
  }
  .btn-quiz.clicked {
    background-color: #fff;
    color: #000;
    transition: 0.2s ease;
  }
  .btn-quiz.unclicked {
    background-color: #000;
    color: #fff;
  }

  .btn-start {
    max-width: 150px;
    width: 50%;
    font-size: 32px;
    transition: 0.3s ease;
  }
  .btn-start.clicked {
    background-color: #fff;
    color: #000;
    transition: 0.3s ease;
  }

  .btn-start.error {
    background-color: rgb(255, 100, 100);
    color: #000;
  }

  .btn-start:active{
    background-color: #000;
    color: #fff;
  }

  .btn-quiz:hover {
    border: 1px solid #373737;
  }

  .btn-start:hover {
    border: 1px solid #373737;
  }

  .shake {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-10px, -5px); }
    20% { transform: translate(10px, 5px); }
    30% { transform: translate(-10px, -5px); }
    40% { transform: translate(10px, 5px); }
    50% { transform: translate(-10px, -5px); }
    60% { transform: translate(10px, 5px); }
    70% { transform: translate(-10px, -5px); }
    80% { transform: translate(10px, 5px); }
    90% { transform: translate(-10px, -5px); }
    100% { transform: translate(0, 0); }
  }

  