.btn-quiz, .btn-start {
    height: calc(50px + 20 * (100vh - 600px) / 600);
    border: 1px solid #fff;
    border-radius: 100px;
  }

  .btn-quiz {
    max-width: 300px;
    width: 100%;
    transition: 0.3s ease;
  }

  .btn-quiz.clicked {
    background-color: #fff;
    color: #000;
    transition: 0.2s ease;
  }

  .btn-quiz.unclicked {
    background-color: #000;
    color: #fff;
  }

  .btn-start {
    max-width: 150px;
    width: 50%;
    font-size: calc(20px + 11 * (100vw - 768px) / 672);
    transition: 0.3s ease;
  }

  .btn-start.ready {
    background-color: #fff;
    color: #000;
    transition: 0.3s ease;
  }

  .btn-start.error {
    background-color: rgb(255, 100, 100);
    color: #000;
  }

  .btn-start:active{
    background-color: #000;
    color: #fff;
  }

  .btn-quiz:hover {
    border: 1px solid #373737;
  }

  .btn-start:hover {
    border: 1px solid #373737;
  }

  .shake {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-10px, -5px); }
    20% { transform: translate(10px, 5px); }
    30% { transform: translate(-10px, -5px); }
    40% { transform: translate(10px, 5px); }
    50% { transform: translate(-10px, -5px); }
    60% { transform: translate(10px, 5px); }
    70% { transform: translate(-10px, -5px); }
    80% { transform: translate(10px, 5px); }
    90% { transform: translate(-10px, -5px); }
    100% { transform: translate(0, 0); }
  }

  .check-btn {
    height: calc(50px + 20 * (100vh - 600px) / 600);
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: 0.3s ease;
    margin-bottom: 20px;
  }

  .check-btn:hover {
    border: 1px solid #373737;
  }

  .check-btn.ready {
    background-color: #fff;
    color: #000;
    transition: 0.3s ease;
  }

  .remove-answer-btn {
    height: calc(50px + 20 * (100vh - 600px) / 600);
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: 0.3s ease;
  }

  .remove-answer-btn:hover {
    border: 1px solid #373737;
  }

  .result-text{
    margin-bottom: 50px;
  }

  .btn-continue {
    height: calc(50px + 20 * (100vh - 600px) / 600);
    font-size: calc(20px + 11 * (100vw - 768px) / 672);
    width: 40%;
    padding: 0 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 100px;
    transition: 0.3s ease;  
  }

  .btn-continue:hover {
    border: 1px solid #373737;
  }
